@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tiro+Bangla:ital@1&display=swap%27');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --bb: rgba(22, 22, 22, 0.747);
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    user-select: none;
}
body {
    background-color: var(--bg);
}

section{
    padding: 2rem 7%;
}

.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}
.logo img {
    width: 100%;
}
.menu .box-cont {
    width: 100%;
    height: 100%;
    border: 5px solid rgb(201, 201, 201);
    border-radius: 25%;
    position: relative;
}
.button {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    cursor: pointer;
}
#btn {
    padding: 25px;
    border: 1px solid var(--black);
    border-radius: 50%;
}
.menu .box-container{
    display: grid;
    grid-template: repeat(2, 130px) / repeat(4, 150px);
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
    margin: 5rem 0;
    perspective-origin: center;
    perspective: 1000px;
    justify-items: center;
}

.menu .box-container .box{
    padding: 2rem;
    text-align: center;
    background-color: var(--bb);
    border: .1rem solid rgba(168, 168, 168, 0.3) ;
    cursor: pointer;
    width: 150px;
    overflow: hidden;
    transition-property: transform;
    transition-duration: .5s;
}
.menu .box-container .box:active {
    vertical-align: middle;
    transform: rotateX(20deg);
}

.menu .box-container .box-9 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    width: 38.5rem;
    border:var(--border);
    background-color: hide;
    border: .1rem solid rgba(168, 168, 168, 0.3);
    border-radius: 20px;
    grid-column: 2/4;
}
.menu .box-container .box-9 img {
    display: flex;
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
}
.menu .box-container .box-9 .fail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.menu .box-container .box-9 .fail .mysquare1 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    height: 7px;
    width: 7px;
    background-color: rgb(78, 10, 10);
}
.menu .box-container .box:hover {
    background-color: var(--black);
}
.menu .box-container .box img {
    align-items: center;
    line-height: 1rem;
    width: 100%;
    object-fit: cover; 
}
.menu .box-container .box h3{
    color: #fff;
    font-size: 1rem;
    padding: 0.2rem 0;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}
.menu .box-container .box p {
    display: inline-block;
    color: #fff;
    font-size: 0.6rem;
    margin: 0 0.5px;
}
.menu .box-container .box p .cen {
    margin-left: 5px;
}
.menu .box-container .square {
    display: inline-block;
    height: 7px;
    width: 7px;
    background-color: rgb(78, 10, 10);
}
.menu .box-container .square-blue {
    display: inline-block;
    height: 7px;
    width: 7px;
    background-color: rgb(23, 9, 211);
}
.menu .box-container .box .strelki {
    width: 30px;
    filter: invert(100%); 
    -webkit-filter:invert(100%); 
}
.cup-1 {
    filter: invert(100%); 
    -webkit-filter:invert(100%); 
}
#bean {
    display: block;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 5px 5px 0;
}
#strelki {
    display: block;
    align-items: center;
    width: 35px;
    height: 35px;
}

#steam {
    display: block;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#aqua {
    display: block;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 5px;
}
#calc {
    display: block;
    align-items: center;
    width: 43px;
    height: 43px;
    margin: 0 auto;
    margin-bottom: 7px;
}
#kont {
    display: block;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 7px;
}

.menu .box-container .mysquare {
    display: block;
    line-height: 20px;
    float: right;
    height: 7px;
    width: 7px;
    margin-right: 7px;
    background-color: rgb(78, 10, 10);
}

.box-fail {
    display: flex;
    justify-content: center;
    background-color: rgba(24, 24, 24, 0.747);
    border: var(--border);
    border-radius: 25%;
    width: 80px;
    height: 250px;
    float: right;
    
}
.box-fail .box {
    margin-bottom: 400px;
    margin-bottom: 20px;
}
.hide {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.button img{
    position: absolute;
    width: 100px !important;
    height: 100px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
.button{
    margin-top: 175px;
    margin-left: 150px;
    background: transparent;
    float: left;
    z-index: 2;
}

.start-stop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 175px;
    margin-left: 81vw;
    float: right;   
    margin-right: 200px;
    border: 1px solid rgb(201, 201, 201);;
    border-radius: 50%;
    cursor: pointer;  
    z-index: 2;
    background: transparent;
}
.start-stop:disabled{
    background-color: var(--bg);
}
#start-stop {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
#start-stop1 {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.flash {
    position: relative;
    width: 212px;
    height: 100px;
    --sq-color: rgb(78, 10, 10);
}
.flash:after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sq-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px; 
    border-radius: 50%;
    margin-top: 75px;
    margin-left: 40px;
}
.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--black);
    position: absolute;
    width: 615px;
    text-align: center;
    height: 320px;
    top: calc(50% - 170px);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.accept_buy {
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    line-height: 3rem;
    margin-bottom: 50px;
}
.accept_buy span {
    background-color: var(--bg);
    margin-left: 5px;
    padding: 5px;
    border-radius: 10px;
}
.btn_class{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--bg);
    margin-right: 100px;
    cursor: pointer;
}
.btn_classs {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    background-color: var(--bg);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 100px;

}
.img_btn_class{
    display: block;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    filter: invert(100%); 
    -webkit-filter:invert(100%); 
    
}
.btn_class:hover{
    background-color: rgb(228, 4, 4);
}
.btn_classs:hover{
    background-color: rgb(228, 4, 4);
}

.timer_default{
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px black;
    font-weight: 900;
    font-family: 'Tiro Bangla', sans-serif;
}

.service_text p {
    font-size: 26px;
    color: #fff;
    margin-bottom: 90px;
}